# Various Virtual Environments
venv/
/.pixi/

# Lockfiles : help is repeatable builds
# /pixi.lock
# /poetry.lock

# Precompiled stuff
*.py[cod]
*.log
*.egg-info/

# The IDE configuration
/.idea/
/.vscode/

# Some tooling uses the requirements.txt file to identify dependencies
# requirements.txt
# requirements_dev.txt
# requirements-pqsql.txt

# Miscellaneous
# MANIFEST.in
